:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --custom-red: #ee0d43;
  --gray: #d7d7d7;
  --light-gray: #3f3f3f;
  --lighter-gray: #6f6767;
  --dark-gray: #262626;
  --green: #27f793;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}
